* {
  /* font-size: 14px; */
  margin: 0;
  padding: 0;
  font-family: "Oswald";
}
body {
  background-color: #aaaaaa;
}

*:focus {
  outline: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
